ParallelWsTester/Service References/SoapFruitLoops/FruitLoops.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConvertDOC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileContent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertDOCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertDOCResult" type="tns:ResultDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="isOK" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PdfContent" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RunTime" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConvertHTML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileContent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertHTMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertHTMLResult" type="tns:ResultDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConvertDOCSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertDOC" />
  </wsdl:message>
  <wsdl:message name="ConvertDOCSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertDOCResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertHTMLSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertHTML" />
  </wsdl:message>
  <wsdl:message name="ConvertHTMLSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertHTMLResponse" />
  </wsdl:message>
  <wsdl:portType name="FruitLoopsSoap">
    <wsdl:operation name="ConvertDOC">
      <wsdl:input message="tns:ConvertDOCSoapIn" />
      <wsdl:output message="tns:ConvertDOCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertHTML">
      <wsdl:input message="tns:ConvertHTMLSoapIn" />
      <wsdl:output message="tns:ConvertHTMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FruitLoopsSoap" type="tns:FruitLoopsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertDOC">
      <soap:operation soapAction="http://tempuri.org/ConvertDOC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertHTML">
      <soap:operation soapAction="http://tempuri.org/ConvertHTML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FruitLoopsSoap12" type="tns:FruitLoopsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertDOC">
      <soap12:operation soapAction="http://tempuri.org/ConvertDOC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertHTML">
      <soap12:operation soapAction="http://tempuri.org/ConvertHTML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FruitLoops">
    <wsdl:port name="FruitLoopsSoap" binding="tns:FruitLoopsSoap">
      <soap:address location="http://10.0.0.10/fruitloops/FruitLoops.asmx" />
    </wsdl:port>
    <wsdl:port name="FruitLoopsSoap12" binding="tns:FruitLoopsSoap12">
      <soap12:address location="http://10.0.0.10/fruitloops/FruitLoops.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>